{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">

    {% block styles %}
    {% endblock styles %}

</head>
<body>
    <section id="main">
        <nav class="nav">

            <div>
                <a href="/">
                    Home
                </a>
            </div>

            {% if user.is_authenticated %}
            
                <div>
                    <a href="/create-room">
                        Create room
                    </a>
                    <a href="/user/{{ user.id }}">
                        Profile
                    </a>
                    <a href="/logout">
                        Logout
                    </a>
                </div>

            {% else %}
                
                <div>
                    <a href="/login">
                       Login 
                    </a>
                </div>

            {% endif %}
        
        </nav>
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
        {% endif %}
        <div class="content">
            
            {% block content %}
            {% endblock content %}

        </div>
    </section>

    <script src="{% static 'js/index.js' %}"></script>

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>