{% extends 'layout/base.html' %}

{% load static %}

{% block content %}

<div class="rooms">

    <div class="rooms-row">

        {% for room in rooms %}

            <div class="room-card">
                
                <p>{{ room.name }}</p>

                <a href="chat/{{ room.id }}">Join</a>

                <span>
                    {{ room.players_connected }} / {{ room.limit }}
                </span>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock content %}