{% extends 'layout/base.html' %}

{% load static %}

{% block content %}
{{ user.username }}
<div class="board">
    <div class="game">

    </div>
    <div class="chat">
        <textarea id="chat-log" cols="100" rows="20"></textarea><br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
    </div>
</div>


{% endblock content %}

{% block scripts %}

    <script src="{% static 'js/src/websocket.js' %}"></script>    

{% endblock scripts %}